{
  description = "Nix system flake";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
    {{- if eq .chezmoi.os "darwin" }}
    nix-darwin.url = "github:nix-darwin/nix-darwin/master";
    nix-darwin.inputs.nixpkgs.follows = "nixpkgs";
    nix-homebrew.url = "github:zhaofengli/nix-homebrew";
    homebrew-core = {
      url = "github:homebrew/homebrew-core";
      flake = false;
    };
    homebrew-cask = {
      url = "github:homebrew/homebrew-cask";
      flake = false;
    };
    {{- else if eq .chezmoi.os "linux" }}
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    nixgl = {
      url = "github:nix-community/nixGL";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    {{- end }}
  };

  {{- if eq .chezmoi.os "darwin" }}
  outputs = inputs@{ self, nix-darwin, nixpkgs, nix-homebrew, ... }:
  {{- else if eq .chezmoi.os "linux" }}
  outputs = inputs@{ self, home-manager, nixgl, nixpkgs, ... }:
  {{- end }}
  let
    {{- if eq .chezmoi.os "linux" }}
    # --- cmsis-svd Python package (not in nixpkgs) ---------------------------
    # To get the hash, run:
    #   nix-prefetch-url https://files.pythonhosted.org/packages/source/c/cmsis-svd/cmsis_svd-0.6.tar.gz
    # then convert: nix hash to-sri --type sha256 <output>
    mkGdbWithSvd = pkgs:
      let
        cmsis-svd = pkgs.python3Packages.buildPythonPackage rec {
          pname = "cmsis_svd";
          version = "0.6";
          pyproject = true;
          src = pkgs.python3Packages.fetchPypi {
            inherit pname version;
            sha256 = "sha256-cMxYMG+AH5mlrWtJqLO06cyn0GsK7XcIH6zWmoQGRoY=";
          };
          build-system = [ pkgs.python3Packages.setuptools ];
          dependencies = [ pkgs.python3Packages.six pkgs.python3Packages.setuptools pkgs.python3Packages.lxml ];
          doCheck = false;
        };
        pythonWithCmsis = pkgs.python3.withPackages (_: [ cmsis-svd ]);
      in
      pkgs.symlinkJoin {
        name = "gdb-with-svd";
        paths = [ pkgs.gdb ];
        buildInputs = [ pkgs.makeWrapper ];
        postBuild = ''
          wrapProgram $out/bin/gdb \
            --set PYTHONPATH "${pythonWithCmsis}/${pkgs.python3.sitePackages}"
        '';
      };
    {{- end }}

    configuration = { pkgs, lib, ... }:
    {{- if eq .chezmoi.os "linux" }}
    let
      gdbWithSvd = mkGdbWithSvd pkgs;
    in
    {{- end }}
    {
      {{- if eq .chezmoi.os "darwin" }}
      system.primaryUser = "{{ .chezmoi.username }}";
      nixpkgs.config.segger-jlink.acceptLicense = true;
      {{- else if eq .chezmoi.os "linux" }}
      home.username = "{{ .chezmoi.username }}";
      home.homeDirectory = "{{ .chezmoi.homeDir }}";
      home.stateVersion = "25.11";
      {{- end }}
      nixpkgs.config.allowUnfree = true;
      {{- if eq .chezmoi.os "darwin" }}
      environment.systemPackages =
      {{- else if eq .chezmoi.os "linux" }}
      home.packages =
      {{- end }}
        [ pkgs.neovim
          pkgs.lazyjj
          pkgs.usbutils
          pkgs.binwalk
          pkgs.tealdeer
          pkgs.ripsecrets
          pkgs.macchina
          pkgs.dua
          pkgs.difftastic
          pkgs.git-cliff
          pkgs.bat
          pkgs.starship
          pkgs.atuin
          pkgs.pay-respects
          pkgs.mise
          pkgs.age
          pkgs.tmux
          pkgs.git
          pkgs.git-lfs
          pkgs.delta
          pkgs.eza
          pkgs.bat
          pkgs.zoxide
          pkgs.jujutsu
          pkgs.lazygit
          pkgs.chezmoi
          pkgs.bitwarden-cli
          pkgs.ripgrep
          pkgs.podman
          pkgs.fzf
          pkgs.fd
          pkgs.claude-code
          pkgs.imagemagick_light
          pkgs.drawio
          pkgs.ouch
          pkgs.yazi
          pkgs.dust
          pkgs.sd
          pkgs.hyperfine
          pkgs.bottom
          pkgs.procs
          pkgs.grex
          {{- if eq .chezmoi.os "darwin" }}
          pkgs.wireguard-tools
          pkgs.ghostty-bin
          pkgs.bitwarden-desktop
          pkgs.firefox
          pkgs.segger-jlink
          pkgs.mas
          {{- else if eq .chezmoi.os "linux" }}
          pkgs.picocom
          pkgs.git-filter-repo
          pkgs.dfu-util
          pkgs.kanata
          pkgs.msitools
          pkgs.wl-clipboard
          pkgs.nerd-fonts.hack
          pkgs.zsh
          gdbWithSvd  # gdb wrapped with cmsis-svd Python module
          {{- end }}
        ];

      {{- if eq .chezmoi.os "darwin" }}
      fonts.packages =
        with pkgs; [
        nerd-fonts.hack
        ];

      homebrew = {
        enable = true;
          casks = [
            "rectangle"
            "hyperkey"
            "maccy"
            "slack"
            "calibre"
            "parallels"
            "autodesk-fusion"
          ];
          brews = [
            "libusb"
            "gdb"
            "mole"
          ];
        onActivation.cleanup = "zap";
        onActivation.autoUpdate = true;
        onActivation.upgrade = true;
        };

      # The platform the configuration will be used on.
      {{- $arch := .chezmoi.arch }}
      {{- if eq $arch "arm64" }}{{ $arch = "aarch64" }}{{ end }}
      nixpkgs.hostPlatform = "{{ $arch }}-{{ .chezmoi.os }}";

      # Necessary for using flakes on this system.
      nix.settings.experimental-features = "nix-command flakes";

      # Set Git commit hash for darwin-version.
      system.configurationRevision = self.rev or self.dirtyRev or null;

      # Used for backwards compatibility, please read the changelog before changing.
      # $ darwin-rebuild changelog
      system.stateVersion = 6;

      # MacOs settings
      system.defaults = {
        dock.show-recents = false;
        dock.autohide = true;
        dock.autohide-delay = 0.0;
        dock.autohide-time-modifier = 0.4;
        dock.tilesize = 48;
        dock.largesize = 64;
        dock.mru-spaces = false;
        dock.minimize-to-application = true;
        dock.magnification = true;
        dock.show-process-indicators = false;
        dock.scroll-to-open = true;
        dock.static-only = true;
        dock.persistent-apps = [
          "${pkgs.ghostty-bin}/Applications/Ghostty.app"
          "${pkgs.firefox}/Applications/Firefox.app"
        ];
        controlcenter.FocusModes = false;
        finder.FXPreferredViewStyle = "clmv";
        finder.AppleShowAllExtensions = true;
        finder.ShowPathbar = true;
        finder.ShowStatusBar = true;
        finder.AppleShowAllFiles = false;
        finder.NewWindowTarget = "Home";
        screencapture.location = "~/Screenshots";
        loginwindow.GuestEnabled = false;
        trackpad.Clicking = true;
        screensaver.askForPassword = true;
        screensaver.askForPasswordDelay = 0;
        CustomUserPreferences.NSGlobalDomain."com.apple.mouse.linear" = true;
        NSGlobalDomain.AppleInterfaceStyle = "Dark";
        NSGlobalDomain.KeyRepeat = 2;
        NSGlobalDomain.InitialKeyRepeat = 15;
        NSGlobalDomain."com.apple.swipescrolldirection" = false;
        NSGlobalDomain."com.apple.sound.beep.feedback" = 0;
        NSGlobalDomain."com.apple.trackpad.scaling" = 2.5;
      };
      {{- else if eq .chezmoi.os "linux" }}
      fonts.fontconfig.enable = true;

      dconf.settings = {
        "org/gnome/shell/extensions/dash-to-dock" = {
          dock-position    = "BOTTOM";
          dock-fixed       = false;
          extend-height    = false;
          autohide         = true;
          autohide-in-fullscreen = true;
          intellihide      = true;
          require-pressure-to-show = false;
          show-delay       = (lib.hm.gvariant.mkDouble 0.0);
          animation-time   = (lib.hm.gvariant.mkDouble 0.1);
          dash-max-icon-size = 48;
          show-mounts      = false;
          show-trash       = false;
          show-show-apps-button = true;
          click-action     = "minimize";
          scroll-to-focused-application = true;
          running-indicator-style = "DOTS";
        };
        "org/gnome/desktop/interface" = {
          color-scheme     = "prefer-dark";  # Dark mode
          gtk-theme        = "Yaru-dark";
          icon-theme       = "Yaru";
          clock-show-weekday = true;
          show-battery-percentage = true;
          enable-animations = true;
          font-antialiasing = "rgba";
        };
        "org/gnome/desktop/peripherals/keyboard" = {
          repeat          = true;
          repeat-interval = 1;    # ms between repeats
          delay           = 100;  # ms before repeat starts
        };
        "org/gnome/desktop/peripherals/touchpad" = {
          tap-to-click    = true;
          natural-scroll  = false;
          speed           = 0.5;
          two-finger-scrolling-enabled = true;
        };
        "org/gnome/desktop/peripherals/mouse" = {
          natural-scroll  = false;
          accel-profile   = "default";
        };
        "org/gnome/nautilus/preferences" = {
          default-folder-viewer = "list-view";
          show-hidden-files     = false;
        };
        "org/gnome/nautilus/list-view" = {
          use-tree-view = true;
        };
        "org/gnome/desktop/privacy" = {
          report-technical-problems = false;
        };
        "org/gnome/desktop/sound" = {
          event-sounds    = false;
        };
        "org/gnome/mutter" = {
          edge-tiling     = true;
          dynamic-workspaces = true;
        };
        "org/gnome/desktop/wm/preferences" = {
          button-layout   = "appmenu:minimize,maximize,close";
          num-workspaces  = 4;
        };
        "org/gnome/gnome-screenshot" = {
          auto-save-directory = "file://{{ .chezmoi.homeDir }}/Screenshots";
        };
      };

      programs.home-manager.enable = true;
      {{- end }}
    };
  in
  {
    {{- if eq .chezmoi.os "darwin" }}
    darwinConfigurations."{{ .chezmoi.hostname }}" = nix-darwin.lib.darwinSystem {
      modules = [
        configuration
        nix-homebrew.darwinModules.nix-homebrew
        {
          nix-homebrew = {
            enable = true;
            enableRosetta = true;
            user = "{{ .chezmoi.username }}";
            autoMigrate = true;
          };
        }
      ];
    };
    {{- else if eq .chezmoi.os "linux" }}
    homeConfigurations."{{ .chezmoi.hostname }}" = home-manager.lib.homeManagerConfiguration {
      pkgs = import nixpkgs {
        {{- $arch := .chezmoi.arch -}}
        {{- if eq $arch "arm64" }}{{- $arch = "aarch64" -}}
        {{- else if eq $arch "amd64" }}{{- $arch = "x86_64" -}}{{ end -}}
        localSystem = "{{ $arch }}-{{ .chezmoi.os }}";
        overlays = [ nixgl.overlay ];
      };
      modules = [ configuration ];
    };
    {{- end }}
  };
}
